.contenedorPerfil {
  background-color: rgba(0, 0, 0, 0.508); 
  box-shadow: 0 4px 10px rgb(21, 21, 21);
  height: auto;
  min-height: 75vh;
  width: 60vw;
  margin: auto; 
  border-radius: 10px;
  padding: 2rem;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; 
}

.contenedorPerfil  h1 {
  color: white;
  text-align: center;
  margin-bottom: 2rem;
  font-size: 2rem;
  font-family: sans-serif;
  margin-top: 2vh;
}


.tablaPerfil {
  display: grid;
  grid-template-columns: 1fr 1fr; 
  gap: 1rem ;
  width: 55%;
  max-width: 600px;
  align-self: flex-start;
  margin-left: 0; 
}

.tablaPerfil label {
  color: white;
  font-weight: 600;
  font-family: sans-serif;
  
}

.tablaPerfil input {
  border: none;
  border-bottom: 1px solid white;
  background: transparent;
  color: white;
  padding: 5px;
  outline: none;
  width: 100%;
}

.contenedorPerfil .tablaPerfil input[type="email"] {
    font-size: 13px;
}



.tablaPerfil input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}


body{
    background-color: rgba(0, 51, 255, 0.371);
}

.botonesPerfil{
    display: flex; 
    gap: 20px;
    bottom: 20px; 
    right: 20px; 
    position: absolute;
}
.guardarPerfil, .eliminarPerfil {
  all: unset; 
  background-color: white;
  font-size: 1.2rem;
  font-family: sans-serif;
  padding: 8px 20px;
  border-radius: 50px 50px 10px;
  cursor: pointer;
  text-align: center;
  color:black;
  margin-top: 40px;
  
}

.guardarPerfil:hover {
  background-color: rgba(36, 211, 9, 0.845);
  color: white;
}

.eliminarPerfil:hover {
  background-color: red;
  color:white;
}
